<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <style>
        body{
            text-align: center;
        }
        button{
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Spam Classifier</h1>
    <form method="post" action="/predict">
        <textarea name="email-content" placeholder="Enter Your Email body" rows="12" , cols="35">{{ email_text }}</textarea>
        <div>
            <button type="submit">Check Spam</button>
            <a href= "/">Reset</a>
        </div>
    </form>

    {% if predictions== 1 %}
        <h2>SPAM</h2>
    {% elif predictions==-1%}
        <h2>NOT SPAM</h2>
    {% endif %}


    <!-- You can add more content here -->

</body>
</html>
